@media(min-width: 769px) {
	#data-box{
		top: 8%;
		left: 31%;
		font-size: 1em;
		margin-left: 2%;
	}
	.nicebox{
		font-size: 0.85em;
	}
	#census-variable{
		font-size: 1em;
	}
	.control_box{
		font-size: 1em;
	}
}
@media(min-width: 426px) and (max-width: 768px){
	#data-box{
		top: 8%;
		left: 31%;
		font-size: 0.8em;
		margin-left: 2%;
	}
	.nicebox{
		font-size: 0.7em;
	}
	#census-variable{
		font-size: 0.9em;
	}
	.control_box{
		font-size: 0.9em;
	}
}
@media (max-width: 425px){
	#data-box{
		top: 13%;
		left: 1%;
		margin-top: 1%;
		font-size: 0.6em;
	}
	.nicebox{
		font-size: 0.5em;
	}
	#census-variable{
		font-size: 0.7em
	}
	.control_box{
		font-size: 0.7em;
	}

}
html, body, #map { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
}

.control_box {
    position: absolute;
    text-align: center;
    font-family: "Roboto", "Arial", sans-serif;
    z-index: 5;
    background: rgb(255,255,255);
    border:  1px solid;
  }
.nicebox {
    position: absolute;
    text-align: center;
    font-family: "Roboto", "Arial", sans-serif;
    z-index: 5;
    box-shadow: 0 4px 6px -4px #333;
    padding: 0.5% 1%;
    background: rgb(255,255,255);
    background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    border: rgb(229, 229, 229) 1px solid;
    height: auto;
  }

#controls {
	top: 8%;
	left: 1%;
	width: 28%;
	height: auto;
}

#data-box {
	height: auto;
	line-height:17px;
	display: none;
	text-align: left;
	float: left;
}

#census-variable {
	width: 100%;
	height: auto;
}

#legend { 
	display: flex; 
	display: -webkit-box; 
	padding-top: 2%;
}

.color-key {
	background: linear-gradient(
	  to right,
	  hsl(5, 69%, 54%) 0%,
	  hsl(29, 71%, 51%) 17%,
	  hsl(54, 74%, 47%) 33%,
	  hsl(78, 76%, 44%) 50%,
	  hsl(102, 78%, 41%) 67%,
	  hsl(127, 81%, 37%) 83%,
	  hsl(151, 83%, 34%) 100%
	  );
	flex: 1;
	-webkit-box-flex: 1;
	margin: 0 5px;
	text-align: left;
	font-size: 1.0em;
	line-height: 1.0em;
}

#data-caret { 
	margin-left: -1.7%; 
	display: none; 
	font-size: 1.4em; 
	width: 1%
}

#search {
	right: 3%;
	top: 0;
	width: auto;
	height: auto;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 5%;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 25%;
  height: 3%
}

#pac-input:focus {
  border-color: #4d90fe;
}